Origin: XBian
Package: xbian-package-couchpotato
Version: 1.1
Section: net
Priority: optional
Codename: wheezy
Architecture: armhf
Depends: xbian-update
Maintainer: sjengfred <sjengfred@home.nl>
Description: CouchPotato 2.0.7 compiled, patched and configured for XBian
Installed-Size: 25180
